*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}
#principal{
    background-color: rgb(130, 194, 236);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#ee{
    background-color: rgb(30, 67, 136);
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenido-bio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.75rem;
}

.bio-jrgd{
    background-color: rgb(175, 198, 233);
    padding: 0.75rem 2rem;
    border: 20px solid rgb(30, 67, 136);
    border-radius: 14px;
    margin: 5%;
}

.partes{
    width: 85%;
}

nav{
    width: 100%;
    background-color: rgb(9, 23, 49);
    padding: 1.75rem 0 0.75rem;
    margin-bottom: 2rem;
}

ul{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 1rem 5rem;
}

li{
    margin: 1.25rem -2rem;
    width: 18rem;
    min-width: 17rem;
}

a{
    font-size: 17px;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.opciones-btn{
    background-color: rgb(221, 241, 245);
    margin: 1rem;
    border: 6px solid rgb(54, 92, 161);
    border-radius: 25px;
    padding: 0.75rem 2.25rem;
    color: rgb(9, 23, 49);
    text-decoration: none;
}

.opciones-btn:hover{
    margin: 0;
    background-color: rgb(104, 159, 241);
    padding: 1rem 3rem;
    text-decoration: underline;
}

h2{
    margin-top: 2%;
    font-size: 30px;
}

p{
    font-size: 18px;
}

.parrafous{
    background-color: rgb(221, 241, 245);
    padding: 3%;
    border: 7px solid rgb(30, 67, 136);
    border-radius: 14px;
}

.recuadro{
    margin: auto;
    background-color: rgb(175, 198, 233);
    text-align: center;
    width: 70%;
    max-width: 40rem;
    border: 1rem solid rgb(175, 198, 233);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_hf{
    color: rgb(1, 0, 22);
}

#espacio{
    width: 40%;
    height: 130px;
    background-color: rgb(9, 23, 49);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#espacio a{
    
}

#ff{
    margin-top: auto;
    background-color: rgb(30, 67, 136);
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}