*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

#principal{
    background-color: rgb(130, 194, 236);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#ee{
    background-color: rgb(30, 67, 136);
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recuadro{
    margin: auto;
    background-color: rgb(175, 198, 233);
    text-align: center;
    width: 70%;
    max-width: 40rem;
    border: 1rem solid rgb(175, 198, 233);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nombre{
    color: rgb(1, 0, 22);
}

#ff{
    margin-top: auto;
    background-color: rgb(30, 67, 136);
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}